@page
@model CustomerApp.Pages.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}
<h1>Not Found</h1>
<div class="alert alert-danger">
    <h5>Customer @Model.Customer!.Firstname @Model.Customer.Lastname not found</h5>
</div>
